In [46]:
import sys
sys.path.append('../')
import pandas as pd
from lib.path import data_file_path
from lib.columns import clean_column_names


def review_first_names_from_post_20():
    df = pd.read_excel('C:/Users/ayyubi/llead/processing/data/match/lake_charles_pd_cprr_2020_assign_first_name_from_post_pprr_2020_11_06.xlsx', sheet_name='All pairs')
    df = df\
        .pipe(clean_column_names)
    return df

In [47]:
df = review_first_names_from_post_20()
df

,pair_idx,sim_score,row_key,first_name,last_name,fc
0,0.0,1.000000,626527ddb03134ab13301b47e02789f4,bendy,falcon,f
1,NaN,NaN,6789cb26c30c1b5d6fee2062de4d9a63,bendy,falcon,f
2,1.0,1.000000,02287aa2ae8a6ffeff67ae32bd7eb7fe,raymond,ford,f
3,NaN,NaN,bbf642acb1085eb6bf7dfa77ba28e543,raymond,ford,f
4,2.0,1.000000,21b9fee875deea6aecb027774f46eb77,carlton,perkins,p
5,NaN,NaN,9e0a78c3bf8f05a6de7e7cfdce7a968b,carlton,perkins,p
6,3.0,1.000000,eb9b628338da23105ad816106b8abc38,joshua,ewing,e
7,NaN,NaN,c9793d0ab4c76d27416175cf508d5c3b,joshua,ewing,e
8,4.0,1.000000,c09341a2fbb0a03e9b09ca9c39ed3b5f,errel,morrow,m
9,NaN,NaN,df89acc556d766c10a0cbbcadea0276c,errel,morrow,m
10,5.0,1.000000,8a6e464c06eceecb034d678c145c7b37,logan,mills,m
11,NaN,NaN,032b77194510f1f177945c919ba196ad,logan,mills,m
12,6.0,1.000000,7e670d03553e829c0beb17d0aab280fd,hannah,myers,m
13,NaN,NaN,b680a97ab55f55fba6fb5068c2cb0586,hannah,myers,m
14,7.0,1.000000,4974693eb53275067ab97a0967d30094,carlos,manuel,m
15,NaN,NaN,f081f330b7982e0b18427d867b7984af,carlos,manuel,m
16,8.0,1.000000,1ffef245c8d17ecf590c1c70888f7817,john,mccloskey,m
17,NaN,NaN,43065558dc40d9c2d43d0d5b46b06588,john,mccloskey,m
18,9.0,1.000000,03d50925c3f56882c95f3672f499d593,eddie,mccue,m
19,NaN,NaN,83399254222979788d2ad93a6d3bc514,eddie,mccue,m
20,10.0,1.000000,eb75ca653f84e8208089d456128b6625,dakota,baccigalopi,b
21,NaN,NaN,e91d4e2132428d1f1fd7d6145a565ad0,dakota,baccigalopi,b
22,11.0,1.000000,0427469718f8843ab14da43c3bfaf67c,keithen,breaux,b
23,NaN,NaN,bfdc78853cf1e03797f8752320757a47,keithen,breaux,b
24,12.0,1.000000,b21a3be5deaa18e53d52f4cbf2ec1abd,harold,nevels,n
25,NaN,NaN,e93a388a5adf61fcba8a8c4eda879566,harold,nevels,n
26,13.0,1.000000,4e9b43233f95c7f3bea2501e4ddea59b,princeton,jackson,j
27,NaN,NaN,705e47f5c9fd1a35eea5db3af49393d0,princeton,jackson,j
28,14.0,1.000000,f9902708d9c57da1aaf2783893d7d978,paul,torres,t
29,NaN,NaN,7bbb6922bf022956b2ebe31837ff505a,paul,torres,t
30,15.0,1.000000,3234402ef146b2822e1c2bfc4ad41e21,john,saunier,s
31,NaN,NaN,6bca3d585a2e4ed3a699e288857a3c01,john,saunier,s
32,16.0,1.000000,ce261b6eccc629fb7b506a53db4dc3e0,jeffrey,redd,r
33,NaN,NaN,a80365c5c2caee6ed4d53c93ae5331c5,jeffrey,redd,r
34,17.0,1.000000,7dfb536be3e68a8333f0c0aa916d17c1,mayo,romero,r
35,NaN,NaN,ca3f54fd6e60f64db6308fdd6f95e0a3,mayo,romero,r
36,18.0,1.000000,b35b5a22ccb2efbd6b60c1a48be52ca4,bennon,dougay,d
37,NaN,NaN,d1b3bbc6d4aec3cfcdb0c0bba673942b,bennon,dougay,d
38,19.0,0.990000,ed9073d2af17d213b317948b37348094,NaN,ponthieux,p
39,NaN,NaN,e3d48c0273288d402be6306e03cffe37,wilbert,ponthieaux,p
40,20.0,0.971429,ad32d71b33d622f4fa0bb56c56dd924d,NaN,markam,m
41,NaN,NaN,3b101c91c57c2c464c4786d2daab4318,alan,markham,m
42,21.0,0.866667,ce60a213b47ed73ae537a7a88db18504,NaN,powers,p
43,NaN,NaN,c16010fd975468accc76e2535a6553b5,daniel,powell,p
44,22.0,0.837500,585832567a893c5581dac867d318a7bd,NaN,mcdaniel,m
45,NaN,NaN,6d27f36cfb01cd9eaa38557ce90eb5b9,curtis,manuel,m
46,23.0,0.825000,86afbb69e88141499822ea21657084ff,NaN,walker,w
47,NaN,NaN,cce6dfbc95cb85da7d0bbf7df53cfe5d,judith,wall,w
48,24.0,0.805556,2d25f33ba3631857081e362ca9489e41,NaN,streva,s
49,NaN,NaN,1dc905c94ffff2cb85178821511138cc,brooks,stroderd,s
50,25.0,0.771429,1132472e92cd5674bd2efac52dfe03fd,NaN,shadle,s
51,NaN,NaN,05c2629b30ece0b9cf937993dd1cc4d3,hope,sanders,s
52,26.0,0.765000,6326e7b37b694d7fa891c79e43b938fe,NaN,cates,c
53,NaN,NaN,7ab1e5cca3945993ce9f747214bd35cf,raoul,ceaser,c
54,27.0,0.733333,367342c90c303c6e37295497c9ac6500,NaN,gay,g
55,NaN,NaN,81cbcba7757317baadda71d4ebf9bf09,dustin,gaudet,g
56,28.0,0.700000,04965ac74bd5e738b9e2bcf6ba13d88e,NaN,santiago,s
57,NaN,NaN,2e10cdd5bf12b0fbbdb40311edea9a44,joe,savoie,s

In [48]:

def review_first_names_from_post_19():
    df = pd.read_excel('C:/Users/ayyubi/llead/processing/data/match/lake_charles_pd_cprr_2014_2019_assign_first_name_from_post_pprr_2020_11_06.xlsx', sheet_name='All pairs')
    df = df\
        .pipe(clean_column_names)
    return df

In [49]:
df = review_first_names_from_post_19()
df

,pair_idx,sim_score,row_key,first_name,last_name,fc
0,0.0,1.0,492956a413106f358f2e1278d8769dd8,jonathan,landrum,l
1,NaN,NaN,7a20c6aae22d8fcb8a4dfea007a4ce84,jonathan,landrum,l
2,1.0,1.0,c70927b44f6ef76303c86fce0051239d,ryan,gaspard,g
3,NaN,NaN,1a10e6182c0fddc92e62ebbd2206451d,john,gaspard,g
4,2.0,1.0,be7d1961fb9ae2f5103ded752ba2a246,phillip,gardiner,g
...,...,...,...,...,...,...
199,NaN,NaN,cdaa3726bc8b83ad2ea8f1942b60924f,cyanna,banks,b
200,100.0,0.7,1a4b85fd7dfe746e737e39d66ad9f2a3,j,olmstead,o
201,NaN,NaN,1e72c4652f6d4832c800bc72c16e5475,ted,oliver,o
202,101.0,0.7,1105f744870ec2963d9f1b5ddb0fd3ee,c,mannel,m
203,NaN,NaN,07e8f5b9d027274198ada84e6c8e60b2,jeffrey,morgan,m